<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %>
</h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<% unless @beer_club.members.empty? %>
  <%= "Has #{pluralize(@beer_club.members.count, "member")} :" %>
  <ul>
  <% @beer_club.members.each do |member| %>
    <li> 
    <%= link_to member.username, member %>
    </li>
  <% end %>
  </ul>
<% else %>
  club doesn't have any members yet
<% end %>

<% if @membership %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit "Join club"%>
  <%end%>
<% end %>
