<h2>List of ratings</h2>

<%= "Number of ratings #{@ratings.count}" %>
<table class="table table-hover">
  <thead>
    <tr> 
      <th>Beer</th>
      <th>Score</th>
      <th>Rater</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New rating", new_rating_path %>
