<h1> <%= @place.name %></h1>
<iframe src=<%= @place.blogmap %> style="width:500px; height:500px;"></iframe>

<br>
<table class="table table-hover">
  <thead>
    <% Place.fields_besides_name.each do |f| %>
      <td><%=f %></td>
    <% end %>
  </thead>
  <tr>
    <% Place.fields_besides_name.each do |f| %>
      <td><%= @place.send(f) %></td>
    <% end %>
  </tr>
</table>
<table class="table table-hover">
  <thead>
    <% Place.score_fields.each do |f| %>
      <td><%=f %></td>
    <% end %>
  </thead>

  <tr>
    <% Place.score_fields.each do |f| %>
      <td><%= @place.send(f) %></td>
    <% end %>
  </tr>
</table>

